.container {
  width: 540px;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}

.progressContainer {
  width: 474px;
  height: 50px;
  position: relative;
  .amountProgress {
    width: 100%;
    height: 22px;
    background: linear-gradient(134.72deg, rgba(216, 222, 242, 1) 0%, rgba(239, 244, 251, 1) 100%);
    border-radius: 13px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .progress {
    height: 22px;
    background: linear-gradient(90deg, rgba(255, 64, 0, 1) 0.01055743243243243%, rgba(255, 192, 192, 1) 100%);
    border-radius: 13px;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
  }
  >img {
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
  }
}

.desContainer {
  height: 50px;
  width: 474px;
  position: relative;
  margin-top: 26px;
  .awardDescribe {
    display: flex;
    flex-direction: row;
    position: absolute;
    transform: translateX(-50%);
    align-items: baseline;
    white-space: nowrap;
    top: 0;
    .moneyHighlight {
      font-size: 40px;
      font-family: JDZhengHT;
      font-weight: bold;
      color: #FF2626;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      >span{
          font-size: 28px;
      }
    }
    .des {
      font-size: 28px;
      font-family: JDZhengHT;
      font-weight: bold;
      color: #535353;
    }
  }
}
