.container {
  height: 88px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  .exchangeRecord{
    width: 110px;
    height: 40px;
    position: absolute;
    right: 0;
  }
}
