.container {
  width: 710px;
  height: 420px;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  margin: 33px auto 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  .header {
    width: 710px;
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: row;
    .rewardChangeText {
      font-size: 30px;
      font-family: PingFangHK;
      font-weight: 500;
      color: rgba(21, 21, 21, 1);
      margin: 0 72px 0 24px;
    }
  }
}
