.container {
  width: 710px;
  height: auto;
  margin: 33px auto 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: rgba(252,226,170,1);
  border-radius: 20px;
  .header {
    width: 710px;
    height: 100px;
    background: white;
    border-radius: 20px 20px 0 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    .rewardChangeText {
      font-size: 30px;
      font-family: PingFangHK;
      font-weight: 500;
      color: rgba(21, 21, 21, 1);
      margin: 0 72px 0 24px;
    }
  }
}
