.outContainer {
  width: 410px;
  height: 40px;
  background: rgba(255, 217, 102, 1);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  .container {
    display: flex;
    height: 40px;
    flex-direction: column;
    position: absolute;
    top: 0;
    animation: 5s scrollY infinite;
    >div {
      width: 410px;
      height: 40px;
      text-align: center;
      font-size: 24px;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-family: PingFangSC;
      font-weight: normal;
      color: rgba(205, 102, 0, 1);
    }
  }
}

@keyframes scrollY {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
