.outContainer {
  width: 410px;
  height: 40px;
  background: rgba(255, 217, 102, 1);
  border-radius: 20px;
  .container {
    display: flex;
    height: 40px;
    flex-direction: column;
    overflow: scroll;
    >div {
      width: 410px;
      height: 40px;
      text-align: center;
      font-size: 24px;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-family: PingFangSC;
      font-weight: normal;
      color: rgba(205, 102, 0, 1);
    }
  }
}
